.modal_container {
  width: 55%;
  min-height: 70vh;
  position: absolute;
  top: 30px;
  left: 25%;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 1px 2px 8px #ccc;
}
.close_icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}
.modal_title {
  text-align: center;
  color: #343a3f;
}
.form_inputs {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  margin: 15px;
}
.input label {
  width: 170px;
  font-size: 15px;
}

.input input,
textarea {
  width: 180px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 2px 8px #ccc;
}
.input_desc {
  width: 100%;
}
.input_desc textarea {
  width: 300px;
  height: 10vh;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  align-self: end;
  margin-top: 10px;
}
.btn {
  width: 100px;
  padding: 10px;
  background-color: rgb(3, 85, 3);
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  align-self: center;
  margin-left: 15px;
}
.btn_add {
  width: 150px;
  background-color: rgb(62, 16, 95);
  align-self: end;
}

.btn_cancel {
  background-color: rgb(139, 3, 3);
}
.error {
  color: red;
}

@media (max-width: 1300px) {
  .modal_container {
    min-height: 80vh;
  }
}

@media (max-width: 800px) {
  .modal_container {
    width: 80%;
    left: 10%;
  }
}
